/** General **/
html, body
{
    height: 95.5%;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

hr
{
    margin: 20px 0;
    border: 0;
    border-bottom: 1px solid #e2e2e2;
}

hr.slim
{
    margin-top: 10px;
    margin-bottom: 10px;
}

a
{
    text-decoration: none;
}

label
{
    margin-bottom: 5px;
}

label, input, button, select, textarea
{
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.btn:not(.btn-link):not(.btn-circle) i
{
    font-size: 12px !important;
    position: initial !important;
    top: initial !important;
}

.display-flex
{
    display:flex;
}

/** Jquery Widgets **/
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-size: 12px;
    margin: 0px;
}

.ui-widget
{
    font-family: inherit;
    font-size: inherit;
}

/** Window **/
.ui-dialog .window_modal
{
    padding:0.2px;
}

.ui-dialog .window_modal .panel
{
    margin-bottom:0;
    border-top:0;
    border-radius:0;
    overflow:hidden;
}

/** Navbars **/
.navbar-default .navbar-brand
{
    font-family: 'Open Sans';
}

.sidebar
{
    font-family: 'Open Sans';
}

.navbar-right {
    margin-right: 0 !important;
}

ul.navbar-top-links > li.dropdown >a {
    background: inherit;
}

ul.navbar-top-links > li.dropdown > a:hover {
    background: #4A9FE0;
}

ul.navbar-top-links .open>a, ul.navbar-top-links .open>a:hover, ul.navbar-top-links .open>a:focus {
    background: #4A9FE0;
}

.navbar-custom-menu > .navbar-nav {
    float: right;
}

/** Dropdowns **/
.dropdown-menu li a {
    display: block;
    text-decoration: unset;
    padding: 8px 12px;
    white-space: nowrap;
}

/** Popover **/
.popover.fade:not(.show) {
    display: none; /* Evita overlap */
}
.popover-table
{
    border: 1px solid #e0e0e0;
    border-collapse: collapse;
}

.popover-table td
{
    border: 1px solid #e0e0e0;
    padding: 10px;
}

.popover-body img, .popover-content img{
    width: 100%; /* Imagens dentro de popovers */
}

/** Panels **/
.panel{
    border-radius: initial;
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    
}

.panel-heading{
    display: flex;
    align-items: center;
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.panel-heading:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.panel-body{
    flex: 1 1 auto;
    padding: 1.25rem;
}

.panel-footer
{
    background: initial;
}

.panel-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
}

div > div.panel > .panel-body {
    padding: 10px;
}

/** Form components **/
input[widget="tslider"] {
    margin: auto;
}

.tcheckgroup_label, .tcheckgroup_label > input
{
    cursor:pointer;
}

.input-group {
    flex-wrap: unset; /** Spinner **/
}

input[type="radio"], input[type="checkbox"]
{
    margin-right: 4px !important;
}

.header-actions .btn label
{
    margin-bottom: 0px;
    cursor: pointer;
}

/* nao deixar o botao fora do campo tile*/
input.form-control.tfield[widget="tfile"], input.form-control.tfield[widget="tmultifile"] {
    padding: 1px;
}

/** Classic forms **/
.tform
{
    box-shadow: none;
    background: white !important;
    border: none !important;
    border-radius: none !important;
    padding: 0px !important;
    margin-bottom: 20px !important;
}

.tformtitle + tr > td
{
    padding-top: 15px !important;
}

.tformtitle > td
{
    background-color: #3c8dbc !important;
    padding: 8px 0px 8px 5px !important;
}

.tformtitle > td > label
{
    color: white !important;
}

.tformaction > td
{
    padding: 12px !important;
}


.tform .tformtitle > td:first-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform .tformtitle > td:last-child
{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.tform > table
{
    background: #fff;
    border: 1px solid #C6C6C6 !important;
    padding: 0px !important;
}

/** BFBuilder **/

.col-form-label {
    text-align: unset;
}

.control-label {
    text-align: unset !important;
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

@media (min-width: 576px) {
    .col-form-label {
        text-align: right;
    }

    .control-label {
        text-align: right !important;
    }
}

.header-actions {
    margin-left: auto;
}

.header-actions .btn {
    margin-bottom: 2px;
}

.fb-field-container:after {
    content: '';
    display: block;
    clear: both;
}

.fb-inline-field-container > .panel, .panel-body .panel {
    box-shadow: none;
}

/** Buttons **/
.btn-group .btn.btn-default.active {
    background: #6c757d;
    border-color: #6c757d;
    color: white;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(142, 142, 142, 0.58);
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: unset;
}

/** Classic datagrid **/
table.tdatagrid_table
{
    box-shadow: none;
    border-radius: 0;
}

.tdatagrid_head tr td
{
    height: 34px;
}

.tdatagrid_body tr td
{
    height: 30px;
}

.tdatagrid_body tr td input
{
    height: 24px;
    margin: 0;
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
}


/** Datagrid **/
.panel > .panel-footer > .tpagenavigation, .panel > .panel-footer > .tpagenavigation_resume
{
    padding-top:0;
}

.table>thead[noborder="1"]>tr>th.tdatagrid_col, .table>thead[noborder="1"]>tr>th.tdatagrid_action
{
    border:0;
}

/** Checklist **/
table.table[widget="tchecklist"]>thead>tr>th, table.table[widget="tchecklist"]>tbody>tr>td
{
    user-select:none;
}

table.table[widget="tchecklist"]>thead>tr>th:first-child
{
    min-width: 50px;
}

table.table[widget="tchecklist"]>tbody>tr>td:first-child
{
    min-width: 50px;
}

/** Right panel **/
#adianti_right_panel .panel[widget="bootstrapformbuilder"]
{
    border:0;
    box-shadow:none;
}

#adianti_right_panel > div > div.panel > div.panel-heading
{
    border-top: 0;
    background: #f9f9f9;
}



/** Login form **/
#form_login table > tbody > tr.tformtitle > td
{
    text-align: center;
}

#form_login table > tbody > tr.tformtitle > td > label
{
    padding: 0;
    padding: 8px;
    font-size: 17pt;
}


/** Kanban **/
.kanban-item-actions i.fa, .card-item-actions i.fa,
.kanban-item-actions i.fas, .card-item-actions i.fas,
.kanban-item-actions i.far, .card-item-actions i.far
{
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

.kanban-item-actions i.fa:hover, .card-item-actions i.fa:hover,
.kanban-item-actions i.fas:hover, .card-item-actions i.fas:hover,
.kanban-item-actions i.far:hover, .card-item-actions i.far:hover
{
    background: whitesmoke !important;
    color:black !important;
}

/** Charts **/
.chart
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 10px;
    margin-bottom: 15px;
}

/** Cards **/
.card-item
{
    border-radius: 3px;
}

.card-header {
    display: flex;
}

.card-title {
    font-size: 16px;
}


/** btn cadastrar **/
.inline-button {
    position:absolute !important;
    border-radius:0 !important;
    border-left:0 !important;
    box-shadow:none !important;
}

/** TMessage **/
.modal-dialog .modal-content .modal-header {
    display: block;
}

/** tags **/
.label {
    color: white;
    padding: .2em .6em .3em;
    font-weight: 700;
}

/** BC: blockquote **/
blockquote {
    border-left: 5px solid #eee;
    border-left-style: solid;
    border-left-width: 5px;
    font-size: 17.5px;
    padding: 10px 20px;
}


blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}

/** BC: Bootstrap **/
.pull-left {
    float: left !important;
}
.pull-right {
    float: right !important;
}

/** fullcalendar **/
.fc-event {
    color : white !important;
}

/** html editor **/
.note-toolbar {
    display: flow-root;
}

/** tslider **/
.tslidercontainer div.label {
    text-align: center;
}

/** iconpicker cortina **/
.fade {
    opacity: 1 !important;
}

/* Alinhar caret menu builder */
.menueditor-dropdown-menu .caret {
    margin: unset !important;
}
/** Generics **/
@media (max-width: 900px) {
    .hidden-xs {
        display: none;
    }
}

.label {
    border-radius: 2px;
}

/** Theme container **/
.content-wrapper
{
    background-color: white !important;
}

.layout-boxed {
    background: #e0e0e0 !important;
}

.main-header {
    z-index: 999 !important;
}

/** Profile **/
.navbar-custom-menu>ul.nav.navbar-nav>li.dropdown>a{
    display: block;
    padding: 15px;
}

/** breadcrumb **/
#div_breadcrumbs {
    margin-bottom: -5px;
}

/** Navbars **/
nav.navbar {
    padding: 0;
}

.navbar-nav {
    flex-direction: unset;
}

.sidebar-menu .treeview li, .sidebar-menu .treeview ul
{
    background: none;
    overflow: hidden;
    white-space: normal;
}

.navbar-custom-menu .nav.navbar-nav li a::after{
    display: none; /* Não exibir carrot nos í­cones do menu */
}

/** Dialogs **/
.ui-dialog .table>tbody>tr>td
{
    padding: 4px;
    vertical-align: middle;
}

.ui-dialog .panel .panel-body
{
    padding: 8px;
    padding-bottom: 4px;
}

.ui-dialog .window_modal > .panel .panel-heading
{
    background: initial;
}

.ui-dialog .ui-dialog-titlebar
{
    margin-bottom: 0;
}

.ui-dialog .table tbody tr td, .table tbody tr th
{
    padding: 8px !important;
    border-bottom: 0 !important;
}

.ui-dialog .panel-default>.panel-heading
{
    border-top: 0;
}

/** Dropdowns **/
.dropdown-menu>li>a
{
    font-size: 10pt;
}

.dropdown-menu li.footer a {
    display: block; /* Ajuste cor dos itens footer dropdown */
}

/** Buttons **/
.btn {
    cursor: pointer;
    white-space: nowrap;
}

button.btn-default
{
    height:30px;
}

button.btn-primary
{
    color: white;
}

.btn.btn-default {
    background-color: white;
}

.btn-primary {
    background-color: #3c8dbc !important;
    border-color: #367fa9 !important;
}

.btn-default:hover, .btn-default:active, .btn-default:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
    color: #333;
}

.btn.btn-primary:hover {
    background-color: #367fa9 !important;
    border-color: #285e8e !important;
    color: #fff !important;
}


/** Cards, panels **/
.panel {
    margin-bottom: 20px;
    border-radius: 0;
}

.panel-default>.panel-heading
{
    background: #f8f8f8;
    min-height: 52px !important;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.card {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.panel-title {
    font-size: 16px;
    /* titulos estavam desalinahdos */
    margin-bottom: unset;
}

.panel-footer {
    background-color: rgba(0,0,0,.03);
    padding: .75rem 1.25rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

/** BFBuilder **/
.panel form[type="bootstrap"] .ttd
{
    display: inline-block;
    margin-top: 7px;
}

.form-group.tformrow.row {
    display: flex;
    align-items: center;
}

.panel form[type="bootstrap"] .ttd {
    margin-top: unset;
}

/** Form components **/
.btn-group .btn.btn-default input[type="radio"],  .btn-group .btn.btn-default input[type="checkbox"] {
    clip: rect(0,0,0,0);
    position: absolute;
}

textarea
{
    border: 1px solid #ccc;
    border-radius: 0 !important;
    background: white;
    background-image: white;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
}

textarea[widget="ttext"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus
{
    border-color: rgba(82, 168, 236, 0.8);
    outline: 0;
    outline: thin dotted 9;
}

select[widget="tcombo"], textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input
{
    display: inline-block;
    padding: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    border-radius: 0;
    border: 1px solid #ccc;
}

select.tcombo {
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17' height='17' viewBox='0 0 24 24'><path fill='%23444' d='M7.406 7.828l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z'></path></svg>") !important;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-left: 5px;
    border: 1px solid #ccc !important;
    border-radius: 0;
    background-position: calc(100% - 6px) 50%; /* Sugestao flechas para baixo combo */
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

select.tcombo_disabled
{
    padding-top: 0;
    padding-bottom: 0;
}

select.tcombo:not([multiple='1'])
{
    height: 30px;
}

.tfield:focus
{
    border-color: #3c8dbc !important;
    box-shadow: none !important;
    border-radius         : 0;
}

/** Seek **/
.tseekbutton
{
    height: 30px !important;
    border-radius :0 !important;
}

.tseekbutton i
{
    padding-left:2px;
}

/** Input groups, spinners **/
.input-group-addon .spin-up, .input-group-addon .spin-down {
    height: 13px !important;
}

.input-group.spinner .input-group-addon {
    padding: 4px 7px 0px 7px;
}

.input-group-addon {
    border: solid 1px;
    border-left: unset;
    border-color: #d2d6de;
}

.input-group-addon .spin-up {
    height: 10px !important;
}

.input-group-addon a i.fa {
    align-items: center;
    display: flex;
    height: 10px;
}

.input-group-addon .spin-down {
    height: unset !important;
}

/** TDate **/
span.tdate-group-addon > i.fa-clock {
    width:24px !important;
    padding-top:2px;
}

.ui-datepicker-trigger
{
    height: 30px !important;
}

.btn.btn-default.tdate-group-addon {
    padding-top: 4px !important;
}

/** TDateTime **/
.add-on.btn.btn-default.tdate-group-addon {
    padding-top: 2px !important;
}

/** TIcon **/
.iconpicker-container span {
    width: 27px;
    text-align: center;
    padding-top: 3px;
}


/** Select2 **/
.select2-container--default .select2-selection
{
    padding-left: 4px !important;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    border: 1px solid #3c8dbc !important;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single
{
    height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow
{
    top: -2px !important;
}

input.select2-search__field
{
    height: 26px;
}

.select2-selection.select2-selection--single {
    padding-bottom: 3px;
    padding-top: 3px;
}

/** Datagrid **/
.table>thead>tr>th.tdatagrid_col, .table>thead>tr>th.tdatagrid_action
{
    border-bottom: 2px solid #ddd;
}

th.tdatagrid_col,th.tdatagrid_action {
    border-top: unset !important;
}

.table tbody tr.selected td {
    background-color: #66a4c7 !important;
    color: white !important;
}


/** TFile **/
input[widget="tfile"], input[widget="tmultifile"] {
    height: 30px;
}


/** THtmlEditor **/
.note-editor {
    border: 1px solid #bbbbbb;
}

.note-editor .modal-body {
	padding: 15px 30px;
}

/** messages, notifications **/
#envelope_messages li.header
{
    font-weight: bold;
    text-align: center;
}

#envelope_notifications li.header
{
    font-weight: bold;
    text-align: center;
}

.dropdown-toggle::after {
    height: 4px;
    vertical-align: .200em;
}

.nav.nav-pills.nav-stacked li {
    display: flex;
    width: 100%;
}

.nav.nav-pills.nav-stacked li a{
    padding: 10px 15px;
    width: 100%;
    color: #333 !important;
}

@media (max-width: 991px) {
    .main-header .navbar .dropdown-menu li a {
        color: #3c8dbc !important; /* Icone de usuário no dropdown de mensagens */
    }
}

/* TMessage */
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 600px;
        margin: 1.75rem auto;
    }
}


/** Progress bar **/
.progress {
    font-size: 12px;
    height: 20px;
}

.progress-bar span {
    overflow: hidden;
}

/** Notebook **/
.tnotebook {
    margin-bottom : 6px;
}

.nav.nav-tabs.flex-column {
    padding-left: 10px;
}

.nav.nav-tabs.flex-column .nav-item .nav-link {
    border: unset;
    margin-bottom: 1px;
    color: silver;
}

.nav.nav-tabs.flex-column .nav-item .nav-link:not(.active):hover{
    color: #444;
}

.nav.nav-tabs.flex-column .nav-item .nav-link.active {
    border: 1px solid #ddd;
    border-radius: 0;
    border-right: unset;
    color: #444;
}


/** TFieldList **/
table.tfieldlist.dashed .tfield:focus {
	border: 1px solid #3c8dbc !important;
}

.info-box
{
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2) !important;
}

/* Navbar no login */
.main-header.navbar .navbar-brand {
    border-bottom: 1px solid #e7e7e7;
    color : black;
    margin: unset;
    padding: 15px;
    width: 100%;
}

/** Login form **/
div[form=form_login] .panel-heading
{
    align-content: center;
    background: #3c8dbc !important;
    color: white !important;
    display: flex;
    justify-content: center;
    height: 60px !important;
    width: 100%;
}

div[form=form_login] .panel-heading .panel-title
{
    font-size: 20px;
    line-height: 38px;
    margin: unset;
}

div[form=form_login] .fb-inline-field-container
{
    padding-right: 0 !important;
}

.login-avatar
{
    width: 35px;
    height: 30px;
    padding: 6px 12px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-right: 0;
    float:left;
    margin-left:44px;
    height:35px;
}

@media (max-width: 400px) {
    .login-avatar
    {
        margin-left:15px;
    }
}


/******/

.logo img {
    width: 100%;
}

.logo_rodape,
footer .logo_rodape {
    height: 0.8em;
    width: auto;
}

.tpagenavigation {
    text-align: center;
}

/***** Skin *****/

.skin-blue-grey{}

.skin-black .tfield:focus, .skin-black-light .tfield:focus {
  border-color: #333;
}
.skin-blue .tfield:focus, .skin-blue-light .tfield:focus {
  border-color: #3c8dbc;
}
.skin-green .tfield:focus, .skin-green-light .tfield:focus {
  border-color: #00a65a;
}
.skin-purple .tfield:focus, .skin-purple-light .tfield:focus {
  border-color: #605ca8;
}
.skin-red .tfield:focus, .skin-red-light .tfield:focus {
  border-color: #dd4b39;
}
.skin-yellow .tfield:focus, .skin-yellow-light .tfield:focus {
  border-color: #f39c12;
}

.skin-black .tfield_disabled:focus, .skin-black-light .tfield_disabled:focus,
.skin-blue .tfield_disabled:focus, .skin-blue-light .tfield_disabled:focus,
.skin-green .tfield_disabled:focus, .skin-green-light .tfield_disabled:focus,
.skin-purple .tfield_disabled:focus, .skin-purple-light .tfield_disabled:focus,
.skin-red .tfield_disabled:focus, .skin-red-light .tfield_disabled:focus,
.skin-yellow .tfield_disabled:focus, .skin-yellow-light .tfield_disabled:focus {
  border-color: #ccc;
}

.skin-black-light .sidebar-footer a,
.skin-blue-light .sidebar-footer a,
.skin-green-light .sidebar-footer a,
.skin-purple-light .sidebar-footer a,
.skin-red-light .sidebar-footer a,
.skin-yellow-light .sidebar-footer a
{
    background: #f4f4f5;
}
.skin-black-light .sidebar-footer a:hover,
.skin-blue-light .sidebar-footer a:hover,
.skin-green-light .sidebar-footer a:hover,
.skin-purple-light .sidebar-footer a:hover,
.skin-red-light .sidebar-footer a:hover,
.skin-yellow-light .sidebar-footer a:hover
{
    background: #f9fafc;
}

/* Bootstrap - Paginação */

.skin-black .pagination > .active > a,
.skin-black .pagination > .active > span,
.skin-black .pagination > .active > a:hover,
.skin-black .pagination > .active > span:hover,
.skin-black .pagination > .active > a:focus,
.skin-black .pagination > .active > span:focus,
.skin-black-light .pagination > .active > a,
.skin-black-light .pagination > .active > span,
.skin-black-light .pagination > .active > a:hover,
.skin-black-light .pagination > .active > span:hover,
.skin-black-light .pagination > .active > a:focus,
.skin-black-light .pagination > .active > span:focus {
  background-color: #333;
  border-color: #333;
}
.skin-blue .pagination > .active > a,
.skin-blue .pagination > .active > span,
.skin-blue .pagination > .active > a:hover,
.skin-blue .pagination > .active > span:hover,
.skin-blue .pagination > .active > a:focus,
.skin-blue .pagination > .active > span:focus,
.skin-blue-light .pagination > .active > a,
.skin-blue-light .pagination > .active > span,
.skin-blue-light .pagination > .active > a:hover,
.skin-blue-light .pagination > .active > span:hover,
.skin-blue-light .pagination > .active > a:focus,
.skin-blue-light .pagination > .active > span:focus {
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}
.skin-green .pagination > .active > a,
.skin-green .pagination > .active > span,
.skin-green .pagination > .active > a:hover,
.skin-green .pagination > .active > span:hover,
.skin-green .pagination > .active > a:focus,
.skin-green .pagination > .active > span:focus,
.skin-green-light .pagination > .active > a,
.skin-green-light .pagination > .active > span,
.skin-green-light .pagination > .active > a:hover,
.skin-green-light .pagination > .active > span:hover,
.skin-green-light .pagination > .active > a:focus,
.skin-green-light .pagination > .active > span:focus {
  background-color: #00a65a;
  border-color: #00a65a;
}
.skin-purple .pagination > .active > a,
.skin-purple .pagination > .active > span,
.skin-purple .pagination > .active > a:hover,
.skin-purple .pagination > .active > span:hover,
.skin-purple .pagination > .active > a:focus,
.skin-purple .pagination > .active > span:focus,
.skin-purple-light .pagination > .active > a,
.skin-purple-light .pagination > .active > span,
.skin-purple-light .pagination > .active > a:hover,
.skin-purple-light .pagination > .active > span:hover,
.skin-purple-light .pagination > .active > a:focus,
.skin-purple-light .pagination > .active > span:focus {
  background-color: #605ca8;
  border-color: #605ca8;
}
.skin-red .pagination > .active > a,
.skin-red .pagination > .active > span,
.skin-red .pagination > .active > a:hover,
.skin-red .pagination > .active > span:hover,
.skin-red .pagination > .active > a:focus,
.skin-red .pagination > .active > span:focus,
.skin-red-light .pagination > .active > a,
.skin-red-light .pagination > .active > span,
.skin-red-light .pagination > .active > a:hover,
.skin-red-light .pagination > .active > span:hover,
.skin-red-light .pagination > .active > a:focus,
.skin-red-light .pagination > .active > span:focus {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.skin-yellow .pagination > .active > a,
.skin-yellow .pagination > .active > span,
.skin-yellow .pagination > .active > a:hover,
.skin-yellow .pagination > .active > span:hover,
.skin-yellow .pagination > .active > a:focus,
.skin-yellow .pagination > .active > span:focus,
.skin-yellow-light .pagination > .active > a,
.skin-yellow-light .pagination > .active > span,
.skin-yellow-light .pagination > .active > a:hover,
.skin-yellow-light .pagination > .active > span:hover,
.skin-yellow-light .pagination > .active > a:focus,
.skin-yellow-light .pagination > .active > span:focus {
  background-color: #f39c12;
  border-color: #f39c12;
}

.tpagenavigation li.off a {
    color: silver;
}


/* Profile Page ================================ */
.profile-card .profile-header {
  background-color: #f50001;
  padding: 42px 0; }

.profile-card .profile-body .image-area {
  text-align: center;
  margin-top: -64px; }
  .profile-card .profile-body .image-area img {
    border: 2px solid #f50001;
    padding: 2px;
    margin: 2px;
    max-width: 75%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }

.profile-card .profile-body .content-area {
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px; }
  .profile-card .profile-body .content-area p {
    margin-bottom: 0; }
    .profile-card .profile-body .content-area p:last-child {
      font-weight: 600;
      color: #f50001;
      margin-top: 5px; }

.profile-card .profile-footer {
  padding: 15px; }
  .profile-card .profile-footer ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .profile-card .profile-footer ul li {
      border-bottom: 1px solid #eee;
      padding: 10px 0; }
      .profile-card .profile-footer ul li:last-child {
        border-bottom: none;
        margin-bottom: 15px; }
      .profile-card .profile-footer ul li span:first-child {
        font-weight: bold; }
      .profile-card .profile-footer ul li span:last-child {
        float: right; }

.card-about-me .body ul {
  margin: 0;
  padding: 0;
  list-style: none; }
  .card-about-me .body ul li {
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    padding-bottom: 15px; }
    .card-about-me .body ul li:last-child {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0; }
    .card-about-me .body ul li .title {
      font-weight: bold;
      color: #666; }
      .card-about-me .body ul li .title i {
        margin-right: 2px;
        position: relative;
        top: 7px; }
    .card-about-me .body ul li .content {
      margin-top: 10px;
      color: #999;
      font-size: 13px; }

.panel-post {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0; }
  .panel-post .panel-heading {
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
    .panel-post .panel-heading .media {
      margin-bottom: 0; }
      .panel-post .panel-heading .media a img {
        width: 42px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%; }
      .panel-post .panel-heading .media .media-body {
        padding-top: 5px; }
        .panel-post .panel-heading .media .media-body h4 {
          font-size: 14px; }
          .panel-post .panel-heading .media .media-body h4 a {
            color: #666; }
  .panel-post .panel-body {
    padding: 0; }
    .panel-post .panel-body .post .post-heading {
      padding: 12px 15px; }
      .panel-post .panel-body .post .post-heading p {
        margin-bottom: 0; }
  .panel-post .panel-footer {
    background-color: #fff;
    border: none; }
    .panel-post .panel-footer ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      .panel-post .panel-footer ul li {
        display: inline-block;
        margin-right: 12px; }
        .panel-post .panel-footer ul li:last-child {
          float: right;
          margin-right: 0; }
        .panel-post .panel-footer ul li a {
          color: #777;
          text-decoration: none; }
          .panel-post .panel-footer ul li a i {
            font-size: 16px;
            position: relative;
            top: 4px;
            margin-right: 2px; }
          .panel-post .panel-footer ul li a span {
            font-size: 13px; }
    .panel-post .panel-footer .form-group {
      margin-bottom: 5px;
      margin-top: 20px; }

/***** BTN APP *****/

.btn-app {
  border-radius: 3px;
  position: relative;
  padding: 15px 5px;
  margin: 0 0 10px 10px;
  min-width: 80px;
  height: 60px;
  text-align: center;
  color: #666;
  border: 1px solid #ddd;
  background-color: #f4f4f4;
  font-size: 12px;
}
.btn-app > .fa,
.btn-app > .fab,
.btn-app > .far,
.btn-app > .fas,
.btn-app > .glyphicon,
.btn-app > .ion {
  font-size: 20px;
  display: block;
}
.btn-app:hover {
  background: #f4f4f4;
  color: #444;
  border-color: #aaa;
}
.btn-app:active,
.btn-app:focus {
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.btn-app > .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  font-size: 10px;
  font-weight: 400;
}


/***** Tooltip *****/

.tooltip .tooltip-inner
{
    color: #000;
    background-color: #fff;
    padding: 3px 8px;
    border:#000 1px solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    -moz-box-shadow: 2px 2px 2px RGBA(0,0,0,0.2);
    -webkit-box-shadow: 2px 2px 2px RGBA(0,0,0,0.2);
    box-shadow: 2px 2px 2px RGBA(0,0,0,0.2);
    max-width: none;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #000;
}
.tooltip.right .tooltip-arrow {
    border-right-color: #000;
}
.tooltip.left .tooltip-arrow {
    border-left-color: #000;
}
.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #000;
}

/***** Form do Perfil e ajustes do GRID *****/

.card, .card .form-group,
.perfil, .perfil .form-group {
    width:unset !important;
}

.caixa {
    padding: 15px 5px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

@media (max-width:767px)
{
    .card,
    .perfil {
        margin-left: -15px;
        margin-right: -15px;
    }
    
    .ui-dialog .panel .panel-body {
        padding: 0;
    }
    .ui-dialog .panel .tab-pane .form-group {
        width: unset !important;
    }
    
    .card .body .control-label {
        margin-bottom: 0 !important;
    }
}

/***** Login *****/

.login-page {
    background: #2c3c43 !important;
    padding-left: 0;
    max-width: 360px;
    margin: 5% auto;
}
.login-page .logo {
    margin: 10px;
}
.login-page .logo img{
    max-height: 150px;
}
.login-page a {
    text-decoration: none;
    color:#fff;
}
.login-page a:hover,
.login-page a:focus {
    color:#ff6d6d;
}


/***** Listagem de Arquivos *****/

.ticonview img {
    max-height: 80px;
    max-width: 110px;
}
.ticonview>li:hover {
    background: #ffe1b6;
}
.ticonview>li>a:hover {
    text-decoration: none;
}
.ticonview>li>a>i {
    height: 57px;
}

/***** Modal de Vídeo *****/
 
.video-modal .modal-backdrop.in {
    filter: alpha(opacity=7);
    opacity: 0.7;
}

.video-modal .modal-content .modal-body {
    padding: 0 25px 25px 25px !important;
    overflow-y: unset;
}

.video-modal .modal-content .modal-header {
    padding: 25px 25px 15px 25px !important;
    text-align: right;
}

.video-modal .modal-header .close {
    float: none;
    margin: 0;
    font-size: 36px;
    color: #fff;
    font-weight: 300;
    text-shadow: none;
    opacity: 1;
}

#iframe_external {
    width: 1150px;
    height: 645px;
    box-shadow: 0 0px 50px rgba(0, 0, 0, 0.7);
}
.video-modal .modal-dialog {
    width: 1200px;
}

@media (max-width:1599px)
{
    #iframe_external {
        width: 1150px;
        height: 645px;
    }
    .video-modal .modal-dialog {
        width: 1200px;
    }
}
@media (max-width:1199px)
{
    #iframe_external {
        width: 850px;
        height: 475px;
    }
    .video-modal .modal-dialog {
        width: 900px;
    }
}
@media (max-width:991px)
{
    #iframe_external {
        width: 550px;
        height: 308px;
    }
    .video-modal .modal-dialog {
        width: 600px;
    }
}
@media (max-width:767px)
{
    #iframe_external {
        width: 100%;
        max-width: 600px;
        height: 308px;
    }
    .video-modal .modal-dialog {
        width: auto;
        max-width: 600px;
    }
}

@media (min-width: 576px)
{
    .video-modal .modal-dialog {
        max-width: unset;
        margin: 1.75rem auto;
    }
}
