<!DOCTYPE html>
<html>
  <head>
    <title>Painel de Administração - inFORT CMS</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=730">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    
    {LIBRARIES}
    {HEAD}
    
    <link href="app/lib/include/admin.min.css?appver=730" rel="stylesheet" type="text/css" media="screen">
    <link rel="stylesheet" href="app/templates/{template}/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
   <link rel="stylesheet" href="app/templates/{template}/css/skins/_all-skins.min.css">
   
    <script>
    $(function() {
        __adianti_set_language('{lang}');
        __adianti_set_debug({debug});
    });
    </script>
  </head>
  <body class="login-page">
        <div class="logo text-center" >
            <img src="app/images/logo.svg" title="inFORT CMS" alt="inFORT CMS">
        </div>
        
        <div id="wrapper" style="width:90%;margin:auto;margin-top:10px">
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
        </div>
        <div style="text-align:center">
            <!--[CREATE-ACCOUNT]--> <a href="index.php?class=SystemRegistrationForm"><i class="fa fa-user-plus green" aria-hidden="true"></i> _t{Create account}</a> <!--[/CREATE-ACCOUNT]-->
            &nbsp;&nbsp;
            <!--[RESET-PASSWORD]--> <a href="index.php?class=SystemRequestPasswordResetForm"><i class="fa fa-eraser orange" aria-hidden="true"></i> _t{Reset password}</a> <!--[/RESET-PASSWORD]-->
        </div>
        
        <!-- /#wrapper -->
        
        <footer class="login-footer">
            <div>
                <p>inFORT CMS - Todos os Direitos reservados. |
                    <a href="https://www.infort.eti.br" target="_blank"  title="Desenvolvido por inFORT"><img class="logo_rodape" src="app/images/logo-infort.svg"></a>
                </p>
            </div>
        </footer>
    </body>
</html>
