  <!--[main]-->
        <!-- Page section -->
		<div class="page-section elements-page">
            <div class="blog-post">
              <div class="blog-thumb set-bg" data-setbg="{$imagem}">
                <div class="post-date">
                  <h3>{$data_d}</h3>
                  <span>{$data_m}/{$data_Y}</span>
                </div>
              </div>
              {$social_buttons}
              <h2 class="post-title">{$titulo}</h2>
              <div class="post-metas">
                <div class="post-meta">Por {$autor}</div>|
                <div class="post-meta">{$categoria}</div>
              </div>
              <p>{$artigo}</p>
              <hr>
              <h5>Compartilhe</h5>
              {$social_buttons}
            </div>
		</div>
		<!--[galeria]-->
		<div class="page-section gallery-page">
			<div class="portfolio-gallery">
              	<!--[fotos]-->
				<div class="gallery-item animals">
					<img src="{$imagem_url}" alt="{$imagem_alt}">
				</div>
              	<!--[/fotos]-->
        	</div>
		</div>
		<!--[/galeria]-->
		<!-- Page section end-->
  <!--[/main]-->
