  <!--[main]-->
        <!-- Page section -->
        <div class="page-section blog-page">
            <div class="blog-warp">
                <div class="blog-track">
                    <h1>LISTAGEM</h1>
                    <p>{$mensagem}</p>
                    <!--[posts]-->
                    <div class="blog-post">
                        <div class="blog-thumb set-bg" data-setbg="{$imagem}">
                          <div class="post-date">
                            <h3>{$data_d}</h3>
                            <span>{$data_m}/{$data_Y}</span>
                          </div>
                        </div>
                        <a href="{$btn_link}"><h2 class="post-title">{$titulo}</h2></a>
                        <div class="post-metas">
                          <div class="post-meta">Por {$autor}</div>|
                          <div class="post-meta">{$categoria}</div>
                        </div>
                        <p>{$resumo}</p>
                    </div>
                    <!--[/posts]-->
                </div>
            </div>
        </div>
        <!-- Page section end-->
  <!--[/main]-->
